//aaababel ICON "babel.ico"
// note that the icon used by the Explorer (i.e. the programs icon) is the
// first icon in the executable and the icons are sorted both by their order
// (Win9x) and by alphabetically (!) (NT), so put this icon first and give it
// a name starting with "a"
aaaaaaaa ICON "babel2.ico"

// this icon is used with wxFrame::SetIcon()
sample ICON "babel2.ico"
#include "wx/msw/wx.rc"

