*.py[cod]
nbproject
scripts/**/*.cpp
scripts/python/openbabel/__init__.py
scripts/python/openbabel/openbabel.py
scripts/java/openbabel.jar
scripts/php/openbabel.php
scripts/php/php_openbabel.h
external

# build
build
build-static

# install
install

# editors
.vscode
